---
import '../styles/global.scss'
import Header from '../components/header/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script
			src="https://cdn.jsdelivr.net/gh/rick-liruixin/body-scroll-lock-upgrade@v1.1.0/lib/index.umd.js"
		></script>
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<h1>Astro</h1>
	</body>
</html>
